:root{
	--primary-color: #28bf96;
	--primary-color-dark: #209677;
	--text-dark: #111827;
	--text-light: #6b7180;
	--white-color: #f5f5f5;
	--hover-color: #EB3349;
}

/*generic styles*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	scroll-behavior: smooth !important;
}

body{
	font-family: "Roboto", sans-serif;
	background: var(--white-color);
	display: flex;
	flex-direction: column;
}

/*navigation styles*/

.container{
	max-width: 1200px;
	margin: auto;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

nav{
	padding: 2rem 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
}

.nav__logo{
	font-size: 1.5rem;
	font-weight: bold;
	color: var(--primary-color);
}

.nav__links{
	list-style: none;
	display: flex;
	align-items: center;
	gap: 2rem; 
}

.link a{
	text-decoration: none;
	color: var(--text-light);
	cursor: pointer;
	transition: .3s;
}

.link a:hover{
	color: var(--primary-color);
}

/*header styles*/

.header{
	padding: 0 1rem;
	flex: 1;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 2rem;
	align-items: center;
}

.content h1{
	margin-bottom: 1rem;
	font-size: 3rem;
	font-weight: 400;
	color: var(--text-dark);
}

.content h1 span{
	font-weight: 300;
}

.content p{
	margin-bottom: 2rem;
	color: var(--text-light);
	line-height: 1.5rem;
}

.btn{
	color: var(--white-color);
	background: var(--primary-color);
	padding: 1rem;
	border-radius: 5px;
	text-decoration: none;
	cursor: pointer;
	transition: .3s;
}

.btn:hover{
	background: var(--primary-color-dark);
}

image{
	position: relative;
	text-align: center;
	isolation: isolate;
}

.image__bg{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	height: 27rem;
	width: 27rem;
	background-color: var(--primary-color);
	border-radius: 100%;
	z-index: -1;
	margin-left: 21rem;
}

.image img {
	width: 100%;
	max-width: 47rem;
	height: 29rem;
}

.image__content{
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 1rem 2rem;
	
	display: flex;
	align-items: center;
	gap: 1;
	text-align: left;
	background: var(--white-color);
	border-radius: 5px;
	box-shadow: 5px 5px 18px rgba(0, 0, 0, .4);
}

.image__content__1{
	transform: translate(calc(-50% - 12rem), calc(-50% - 8rem));
	margin-left: 4rem;
}

.image__content__1 span{
	padding: 1rem 1.2rem;
	font-size: 1.3rem;
	color: var(--primary-color);
	background-color: var(--white-color);
	border-radius: .7rem;
}

.image__content__1 h4{
	font-size: 1.5rem;
	font-weight: bold;
	color: var(--text-light);
}

.image__content__2{
	transform: translate(calc(-40% + 12rem), calc(-40% + 14rem));
}

.image__content__2 ul{
	list-style: none;
	display: grid;
	gap: .6rem;
}

.image__content__2 li{
	display: flex;
	align-items: flex-start;
	gap: .3rem;
}

.image__content__2 span{
	font-size: 1.5rem;
	color: var(--primary-color);
	text-shadow: 1px 2px 1px rgba(0, 0, 0, .8);
}

/*services styles*/
.services{
	max-height: 20rem;
	height: 17rem;
	background-color: var(--primary-color);

	display: flex;
	align-items: center;
	justify-content: center;
}

.services__personal{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.service__p{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	margin: 1rem 2rem;
}

.service__p i{
	font-size: 4.5rem;
	color: var(--white-color);
	transition: .5s;
}

.service__p i:hover{
	color: var(--hover-color);
	text-shadow: 2px 3px 2px rgba(255, 255, 255, .6);
}

.service__p h2{
	font-size: 1.3rem;
	color: var(--white-color);
	margin-top: 1.5rem;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
}

.service__p p{
	color: var(--text-dark);
}

/*about styles*/
.about{
	max-height: 40rem;
	height: 36rem;
	background-color: #f5f5f5;

	display: flex;
	align-items: center;
	justify-content: center;
}

.about__info{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.about__content-1{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	max-width: 38rem;
	width: 32rem;
	height: 24rem;
	padding: 1.5rem;
	border: 1px solid var(--primary-color);
	box-shadow: 1px 3px 3px var(--text-light);
	border-radius: 1rem;
	background-color: var(--white-color);
}

.about__content-1 h2{
	margin-bottom: 3.5rem;
	font-weight: 400;
	color: var(--text-dark);
	font-size: 3.5rem;
	text-shadow: 1px 1px 1px var(--primary-color);
}

.about__content-1 .social{
	margin-top: 3rem;
}

.about__content-1 .social .instagram{
	font-size: 2.5rem;
	margin-right: 1.5rem;
	color: var(--primary-color);
	cursor: pointer;
	transition: .5s;
}

.about__content-1 .social a{
	text-decoration: none;
}

.about__content-1 .social .facebook{
	font-size: 2.5rem;
	margin-left: 1.5rem;
	color: var(--primary-color);
	cursor: pointer;
	transition: .5s;
}

.about__content-1 .social .instagram:hover{
	color: var(--primary-color-dark);
	scale: 1.2;
}

.about__content-1 .social .facebook:hover{
	color: var(--primary-color-dark);
	scale: 1.2;
}

.about__content-2 img{
	height: 22rem;
	margin: 0 2rem;
}



/*media queries*/
@media (width < 900px){
	
	.nav__links{
		display: none;
	}

	.header{
		padding: 1rem;
		grid-template-columns: repeat(1, 1fr);
	}

	.content{
		text-align: center;
	}
}

















