:root{
	--primary-color: #28bf96;
	--primary-color-dark: #209677;
	--text-dark: #111827;
	--text-light: #6b7180;
	--white: #f5f5f5;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*tuto 04:57*/

body{
	font-family: "Roboto", sans-serif;
}

.container{
	max-width: 1200px;
	margin: auto;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

nav{
	padding: 2rem 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
}

.nav__logo{
	font-size: 1.5rem;
	font-weight: bold;
	color: var(--primary-color);
}

.nav__links{
	list-style: none;
	display: flex;
	align-items: center;
	gap: 2rem; 
}

.link a{
	text-decoration: none;
	color: var(--text-light);
	cursor: pointer;
	transition: .3s;
}


